@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --codeColor: #20272B;
  --white: #FFFFFF;
  --black: #040811;
  --textColor: #333333;
  --mainColor: #6B205E;
  --supportColor: #06A99C;
  --commentColor: #89999A;
  --xebiaColor: #6B205E;
}

pre .value {
  /*color: #D28BFA;*/
  color: var(--mainColor);
}

pre .bracket {
  color: var(--supportColor);
  /*color: #EA7BEA;*/
}

pre .comment {
  color: var(--commentColor);
  /*color: #656587;*/
}

/*
Global styles
*/
body {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 300;
  color: var(--textColor);
  background: var(--white);
}

.reveal {}
::selection {}

.reveal .slides {
  text-align: left;
}

.reveal .slides > section, .reveal .slides > section > section {}

/*
Headers
*/
*
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  padding: 5px 15px;
  background-color: var(--mainColor);
  color: var(--white);
  text-decoration: none;
  margin: 0;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 1px;
  text-shadow: none;
  text-align: left;
  word-wrap: break-word;
  display: inline-block;
}

.reveal h1 {
  font-size: 1.5em;
}

.reveal h2 {
  font-size: 1.3em;
}

.reveal h3 {
  font-size: 1.1em;
}

.reveal h4 {
  font-size: 1.0em;
}

.reveal section[data-background="#6B205E"] {
  color: var(--white);
}

.reveal section[data-background="#6B205E"] h1 {
  margin-top: -1px;
}

.reveal section[data-background="#6B205E"] h2 {
  font-weight: normal;
  line-height: 1;
}

.reveal section[data-background="#6B205E"] b, .reveal section[data-background="#6B205E"] strong {
 color: var(--supportColor);
}

/*
Other
*/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

.reveal img, .reveal video, .reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong, .reveal b {
  font-weight: bold;
  color: #444;
}

.reveal em, .reveal i {
  font-style: italic;
}

.reveal dl, .reveal ol, .reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  display: block;
  list-style-type: disc;
}
.reveal ul ul {
  list-style-type: circle;
}
.reveal ul ul ul {
  list-style-type: square;
}

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal li {
  margin: 10px 0;
}

.reveal dt {}
.reveal dd {}

.reveal blockquote {}
.reveal q {}

.reveal pre {
  border-radius: 8px;
  width: 900px;
  background-color: var(--codeColor);
  padding: 20px 20px;
  display: block;
  margin: 30px auto;
  text-align: left;
  font-size: 0.5em;
  font-family: "Hack", monospace;
  color: var(--white);
  line-height: 1.3em;
  word-wrap: break-word;
}

.reveal code {}

.reveal table {}
.reveal table th {}
  .reveal table tr {}
.reveal table td {
  padding: 0 20px 0  0;
}

.reveal sup {}
.reveal sub {}
.reveal small {}

/*
Links
*/
.reveal a {
  color: var(--mainColor);
  font-weight: bold;
  text-decoration: none;
}

.reveal a i {
  color: var(--textColor);
}
.reveal a:hover {}

/*
Images
*/
.reveal section img {}
.reveal section img.plain {}
.reveal a img {}
.reveal a:hover img {}

/*
Navigation controls
*/
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled, .reveal .controls .navigate-left.enabled:hover {
  border-right-color: var(--mainColor);
}
.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled, .reveal .controls .navigate-right.enabled:hover {
  border-left-color: var(--mainColor);
}
.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled, .reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: var(--mainColor);
}
.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled, .reveal .controls .navigate-down.enabled:hover {
  border-top-color: var(--mainColor);
}

/*
Progress bar
*/
.reveal .progress {
  height: 10px;
}
.reveal .progress span {
  background-color: var(--mainColor);
}

/*
Slide number
*/
.reveal .slide-number {}
.center {}
.reveal section img {}
.reveal section img.noblock {}
.reveal section img.header {}
.reveal ol, .reveal dl, .reveal ul {}
